.container {
  width: 100%;
  max-width: calc(1352px + (12px * 2));
  padding: 0 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-right: -12px;
  margin-left: -12px;
}

@media (max-width: 920px) {
  .row {
    flex-direction: column;
  }
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  transition: font-size 0.25s ease-in-out;
  font-size: 96px;
  line-height: 100px;
  color: white;
}

@media (max-width: 1352px) {
  h1 {
    font-size: 60px;
    line-height: 76px;
  }
}

@media (max-width: 920px) {
  h1 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
}

.header-menus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  a {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #2D376A !important;
    padding: 1.5rem 2rem;
    text-decoration: none;
    cursor: pointer;

    &.active {
      border-bottom: 5px solid #2D376A;
    }
  }
}

.page-header {
  display: block;
  @media (max-width: 991px) {
    display: none;
  }
}

.mobile-header {
  display: none;
  @media (max-width: 991px) {
    display: block;
    position: relative;

    .dropdown-header {
      display: flex;
      justify-content: space-between;
      padding: 0.75rem 1.25rem;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);

      span {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #2D376A;
        display: flex;
        align-items: center;

        img {
          margin-right: 0.5rem;
        }
      }

      button {
        border: none;
        outline: none;
        background: transparent;
      }
    }

    .dropdown-content {
      position: absolute;
      background: white;
      z-index: 1000;
      display: none;
      .dropdown-item {
        padding-top: 20px;
        padding-bottom: 20px;
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #2D376A;
        }
      }

      &.active {
        left: 0;
        right: 0;
        top: 65px;
        display: block;
      }
    }
  }
}
